<html>
  <head>
    <title>Todo List</title>
    <link href="assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <form id="form-update" action="/todo-detail/<%= todos.id %>">
      <input type="text" name="item" placeholder=" <%= todos.item %>" />
      <button id="update-form" type="submit">Submit</button>
    </form>

    <script
      src="https://code.jquery.com/jquery-1.12.4.min.js"
      integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
      crossorigin="anonymous"
    ></script>
    <script src="../assets/todo-list.js"></script>
  </body>
</html>
