<html>
  <head>
    <title>Todo List</title>
    <link href="assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>
      My todo App
    </h1>
    <div id="todo-table">
      <form id="form-insert">
        <input type="text" name="item" placeholder="Add new item" required />
        <button type="submit">Add Item</button>
        <button type="submit">Search</button>
      </form>
      <table>
        <tr>
          <th>Item Name</th>
        </tr>
        <% for(var i =0;i< todos.length;i++) { %>
        <tr>
          <td><%= todos[i].item %></td>
          <td><a href="/todo-detail/<%=todos[i].id%>">EDITAR</a></td>
          <td class="delete" id="<%=todos[i].id%>">
            <a href="/todo">APAGAR</a>
          </td>
          <% } %>
        </tr>
      </table>
    </div>
    <script
      src="https://code.jquery.com/jquery-1.12.4.min.js"
      integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
      crossorigin="anonymous"
    ></script>
    <script src="assets/todo-list.js"></script>
  </body>
</html>
